<?php 
$this->headLink()->appendStylesheet("/assets/datepicker/css/datepicker.css");
$this->headScript()->appendFile("/assets/datepicker/js/bootstrap-datepicker.js")
                   ->appendFile("/assets/datepicker/js/locales/bootstrap-datepicker.es.js")
                   ->captureStart();
?>

jQuery(document).ready(function(){
    $('#fecha_nacimiento').datepicker({
        format: 'mm-dd-yyyy',
        language: 'es'
    });
});

<?php $this->headScript()->captureEnd(); ?>
<div class="row">
    <div class="span12">
    <?php echo $this->form ?>
    </div>
</div>