<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <?php echo $this->headMeta() . PHP_EOL ?>
    <?php echo $this->headTitle() . PHP_EOL ?>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <?php echo $this->headLink() . PHP_EOL ?>
    <script src="/assets/js/jquery.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <?php echo $this->headScript() . PHP_EOL ?>
    <?php echo $this->headStyle() . PHP_EOL ?>
</head>
<body>
    <div class="container">
<?php if ( isset($this->mensajes) ) : ?>
        <div class="row">
            <div class="span12">
                <div class="alert alert-<?php echo $this->mensajes[0] ?>">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p><?php echo $this->mensajes[1] ?></p>
                </div>
            </div>
        </div>
<?php endif; ?>
        <?php echo $this->layout()->content ?>
    </div>
</body>
</html>